body{
  margin: 0;
}
main{
  width: 90%;
  height: 600px;
  position: relative;
}
.layer{
  position: absolute;
  left: 0;
  top: 0;
}
#vernier1{
  background-image: url('../src/img/vernier1.png');
}
#main{
  background-image: url('../src/img/main.png');
}
#deep{
  background-image: url('../src/img/deep.png');
}
#vernier2{
  background-image: url('../src/img/vernier2.png');
}