@font-face{
  font-family: Myriad;
  src: url(../../font/myriad-set-pro_thin.woff);
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: Myriad;
}
main{
  width: 1200px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}
.layer{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 364px;
  background-size: contain;
}
#vernier1{
  background-image: url('../../src/img/vernier1.png');
  cursor: url('../../src/img/hand3.png'), ew-resize;
}
#main{
  background-image: url('../../src/img/main.png');
}
#deep{
  background-image: url('../../src/img/deep.png');
}
#vernier2{
  background-image: url('../../src/img/vernier2.png');
}
#magnifier{
  position: absolute;
  margin: 0px 20px 0 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 13px 16px #828C82 inset;
  cursor: url('../../src/img/hand1.png'), move;
  z-index: 10;
  background-color: white;
}
#canvas{
  display: block;
}
#magnifier-image{
  position: absolute;
  top: 0;
  left: 0;
}
#result{
  width: 114px;
  height: 40px;
  background-color: #5D5D58;
  float: right;
  border-radius: 20px;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
  color: gold;
  font-size: 23px;
  transition: background-color 0.35s;
}
#result-container::after{
  display: block;
  visibility: hidden;
  clear: both;
  content: '\20';
}
.width-center{
  width: 1200px;
  margin: 40px auto 0px;
}
#result>.mm{
  font-size: 14px;
}
#resultModel{
  margin-right: 100px;
  float: right;
  color: #5D5D58;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gold;
  text-align: center;
  cursor: pointer;
}

#teach{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: -5px 1px 16px grey;
  background-color: #F4F4F7;
  overflow-y: scroll;
  transition: right 0.35s, box-shadow 0.35s 0.2s;
  
  /******动画变化的值*****/
  /*right: -500px;*/
  /*box-shadow: none;*/
  /*******************/
}
#teach-button{
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid gold;
  cursor: pointer;
  transition: right 0.35s, background-color 0.35s 0.45s, transform 0.12s;
  position: fixed;
  top: 2px;
  right: 480px;
  z-index: 10;
  background-color: #F4F4F7;
  
  /******动画变化的值*****/
  /*background-color: gold;*/
  /*right: 2px;*/
  /*******************/
}
#teach-button:hover{
  transform: scale(1.1);
}
#teach-button>hr{
  border: none;
  height: 3px;
  width: 55%;
  background-color: #6B5C0B;
  margin: 4px auto;
}
#teach-button>hr:first-child{
  margin-top: 9px;
  transition: transform 0.35s 0.45s;
  transform-origin: 50% 50%;
  transform: translate(0,7px) rotateZ(45deg) scaleX(1.5);
 
  /******动画变化的值*****/
  /*transform: none;*/
  /*******************/
}
#teach-button>hr:nth-child(2){
  transition: background-color 0.25s 0.45s;
  background-color: rgba(255, 215, 0, 0);
  
  /******动画变化的值*****/
  /*background-color: #6B5C0B;*/
  /*******************/
}
#teach-button>hr:last-child{
  transition: transform 0.35s 0.45s;
  transform-origin: 50% 50%;
  transform: translate(0,-7px) rotateZ(-45deg) scaleX(1.5);
  
  /******动画变化的值*****/
  /*transform: none;*/
  /*******************/
}
blockquote {
  margin: 1em 1em 1em 2em;
}
#result-container>div{
  transition: transform 0.35s;
  float: right;
  transform: translateX(-400px);
  
  /******动画变化的值*****/
  /*transform: none;*/
  /*******************/
}
